.homecard,.card-img-top{
    border-radius: 20px !important;
    
}
.homecard{
    width: 20rem !important;
}

.price{
    font-weight: bold;
}
.addbtn{
    background-color: black;
    color: #ffffff;
    width: 130px !important;
    height: 45px !important;
    border-radius: 5px !important;
    align-self: center;
}
 .card-text {
     height: 80px;
 }

@media screen and (max-width:1250px){
    .homecard{
        width: 17rem !important;
    }
}


