.container-sm{
    background-color: #ffffff;
    /* width: 170px; */
        width:100%;
        border-radius: 15px;
        height: 100px;
        /* display: inline-block; */
        /* margin: 10px; */
}
/* .empty{
    background-color: aqua;
} */
.infoCol{
    /* background-color: blueviolet; */
    padding-left: 0px ;

}

.img{
    height: 50px;
    width: 75px;
    margin-top: 20px;
    /* margin-left: 20px; */
    margin-bottom: 20px;
    /* background-color: aqua; */
}

.info{
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px !important;
    /* background-color: brown; */
    width: 150px;
}

.pric{
    margin: 0px;
    padding: 0px;
}
.quantCol{
    width: 33%;
}

.numbr{
    border: 1px solid black;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 50px;
    width:100% ;
    padding: 12.5px;
    border-radius: 8px;
    position: relative;
    right: -40px;
}


.dlt,.rm{
   
    float: left;

}
.add{
    float: right;
}

@media screen and (max-width:1131px) {
    
        .container-sm{
            width: 550px;
        }
       
}
@media screen and (max-width:697px) {
    .container-sm {
            width: 400px;
        }
                 .numbr{
                    width: 150px;
                    position: relative;
                        right: 20px;
                }
                .quantCol{
                    padding-right: 0px;
                }
}
@media screen and (max-width:497px) {
    .container-sm {
            width: 350px;
        }
    
}
@media screen and (max-width:394px) {
    .numbr{
        width: 120px;
        margin-right: 0px !important;
    }
        .container-sm {
            width: 325px;
        }
}

@media screen and (max-width:383px) {
    .img{
        /* display: none; */
        width: 50px;
        height: 37.5px;
        margin-top: 32px;
    }
    .infoCol{
        position: relative;
        left: -30px;
    }
}
@media screen and (max-width:383px) {
    .container-sm {
            width: 300px;
        }
}