




.card {
    width: 24rem;
    border-radius: 20px !important;
}
.lgin{
    background-color: #d3d3d3e8;
    padding: 50px;
}
.pd{
    margin-top: 8px ;
    margin-bottom: 8px;
    /* width: 250px; */
    /* align-self: center; */
}

.img{
    /* margin: 50px; */
    align-self: center;
    width: 75px;
}


.dividerline {
    margin-top: 15px;
    width: 75%;
    color: linear-gradient(to right, #0000ff, #FFFFFF);
}

.signup {

    color: brown;
    text-decoration-line: none;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    height: 35px;
    margin-top: 5px;
}

.forgetpass {
    width: 100%;
    text-decoration-line: none;
    color: brown;
    margin-top: 10px;
}

@media  screen and (max-width:1111px) {
    .card {
            width: 18rem;
        }
                .pd {
                    margin: 4px;
                    width: 250px !important;
                    align-self: center;
                }
}
@media screen and (max-width:513px) {
    .card {
            width: 16rem;
        }
.pd {
    margin: 4px;
    width: 200px !important;
    align-self: center;
}
}
@media screen and (max-width:353px) {
    .card {
        width: 14rem;
    }

    .pd {
        margin: 4px;
        width: 160px !important;
        align-self: center;
    }
}