@media screen and (max-width:450px) {
    .sizin {
        display: none;
    }
}
.signup {

    color: brown;
    text-decoration-line: none;
    /* text-align: center;
    width: 100%;
    border-radius: 5px;
    height: 35px;
    margin-top: 5px; */
}