
.allprofile{
    background-color: #d3d3d3e8;
    min-height: 700px;
    padding: 5%;
    /* margin-top: 0px; */
}


.lf{
    /* background-color: aqua; */
    padding: 0px !important;
}
.rg{
    /* background-color: brown; */
    padding: 0px !important;
}