$theme-colors :(
    "primary" :  #ec9ac7,
    "danger" : red,
);
$custom-colors: (
    "nv" : gray
    // "nv": rgba(22, 6, 22, 0.025)
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
@import "../node_modules/bootstrap/scss/bootstrap";

