$theme-colors :(
    "primary" :  #ec9ac7,
    "danger" : red,
    "success":green
);
$custom-colors: (
    "nv" : #000000,//#2d3246,//#5B8FB9,// #5B8FB9 ,
    "footer": #000000//#2d3246
                //#2d3246
    
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
@import "../node_modules/bootstrap/scss/bootstrap";

